<app-header />
<main>
  <div id="dashboard">
    <app-dashboard-item
      [image]="{ src: 'ststus.png', alt: 'A Signal symbol' }"
      title="Server Status"
    >
      <app-server-status />
    </app-dashboard-item>

    <app-dashboard-item
      [image]="{ src: 'traffic.png', alt: 'A Traffic symbol' }"
      title="Traffic"
    >
      <app-traffic />
    </app-dashboard-item>

    <app-dashboard-item
      [image]="{ src: 'ticket.png', alt: 'A Ticket symbol' }"
      title="Ticket"
    >
      <app-tickets />
    </app-dashboard-item>
  </div>
</main>
